body { 
    background-color: black;    
    text-align: center;
    margin-top: 200px;
}

h1{
  color: whitesmoke;
}
.panel {
  position: relative;
  display: inline-block;
  height: 100px;
  width: 100px;
  cursor: pointer;
  grid-template-rows: 8,20vmin;
  }

  


  /* this will allow to give a background to the panel once is selected 
   .panel:hover {
    border: 1px solid 
  } */



.blue {
    border-radius: 50%;
    /* background: black; */
    margin: 50px;
    border: 5px solid rgb(45, 125, 245);
  }
.blue:hover {
  border: 5px solid blue;
}

.green{
    border-radius: 50%;
    /* background: black; */
    margin: 50px;
    border: 5px solid rgb(45, 245, 135);
  }
  .green:hover {
    border: 5px solid green;
  }


.yellow{
    border-radius: 50%;
    /* background: black; */
    margin: 50px;
    border: 5px solid rgb(208, 245, 45);
  }
  .yellow:hover {
    border: 5px solid rgb(138, 138, 23);
  }



.red {
    border-radius: 50%;
    /* background: black; */
    margin: 50px;
    border: 5px solid rgb(235, 38, 38);
  }

  .red:hover {
    border: 5px solid rgb(114, 12, 12);
  }
  


/* Additional Color to add for difficulties */
.purple {
    border-radius: 50%;
    /* background: black; */
    margin: 50px;
    border: 5px solid rgb(219, 25, 203);
  }

  .purple:hover {
    border: 5px solid rgb(97, 13, 97);
  }



.gray{
    border-radius: 50%;
    /* background: black; */
    margin: 50px;
    border: 5px solid rgb(189, 208, 236);
  }
  .gray:hover {
    border: 5px solid rgb(86, 86, 121);
  }




.orange {
    border-radius: 50%;
    /* background: black; */
    margin: 50px;
    border: 5px solid rgb(243, 172, 19);
  }
  .orange:hover {
    border: 5px solid rgb(197, 70, 11);
  }



.teal{
    border-radius: 50%;
    /* background: black; */
    margin: 50px;
    border: 5px solid teal;
  }

  .teal:hover {
    border: 5px solid rgb(46, 192, 17);
  }
  
 


  .button {
    text-align: center;
  }

  /* .message hover {
    border: 1px solid blueviolet;
  } */
      

/* .flash {
  background-color: white;
} */
  

/*this is the flash to activate the buttons
 active 
  background-color: aqua;} */
