body { 
    background-color: black;    
    text-align: center;
    margin-top: 200px;
}

h1{
  color: whitesmoke;
}
.panel {
  position: relative;
  display: inline-block;
  height: 100px;
  width: 100px;
  cursor: pointer;
  }

  


  /* this will allow to give a background to the panel once is selected */
  /* .panel:hover {
    border: 1px solid 
  } */



.blue {
    border-radius: 50%;
    background: black;
    margin: 50px;
    border: 5px solid rgb(45, 125, 245);
  }
.blue:hover {
  border: 5px solid blue;
}

.green{
    border-radius: 50%;
    background: black;
    margin: 50px;
    border: 5px solid rgb(45, 245, 135);
  }



.yellow{
    border-radius: 50%;
    background: black;
    margin: 50px;
    border: 5px solid rgb(208, 245, 45);
  }
  



.red {
    border-radius: 50%;
    background: black;
    margin: 50px;
    border: 5px solid rgb(235, 38, 38);
  }
  


/* Additional Color to add for difficulties */
.purple {
    border-radius: 50%;
    background: black;
    margin: 50px;
    border: 5px solid rgb(219, 25, 203);
  }



.gray{
    border-radius: 50%;
    background: black;
    margin: 50px;
    border: 5px solid rgb(189, 208, 236);
  }
  




.orange {
    border-radius: 50%;
    background: black;
    margin: 50px;
    border: 5px solid rgb(243, 172, 19);
  }




.teal{
    border-radius: 50%;
    background: black;
    margin: 50px;
    border: 5px solid teal;
  }
  


  .button {
    text-align: center;
  }

  /* .message hover {
    border: 1px solid blueviolet;
  } */
      

flash {
  background: white;
}
  

/*this is the flash to activate the buttons
 active 
  background-color: aqua;} */
